* {
    box-sizing: border-box;
}

body {
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-family: fantasy;
    
}



.exp-container li {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.exp-container .total-expenses {
  font-weight: bold;
  font-size: 20px;
}

.exp-container p{
  padding: 10px;
    margin: 10px 0;
    background-color: rgb(255, 0, 128);
    border-radius: 30px;
    border: 3px solid var(--color-shadow, black);
    box-shadow: .5rem .5rem 0 var(--color-shadow, black);
}

.list {
    list-style-type: none;
    padding: 0;
    margin-bottom: 40px;
    
  }

  .list li {
    background-color: rgb(255, 0, 128);
    box-shadow: var(--box-shadow);
    color: rgb(51, 51, 51);
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 10px;
    margin: 10px 0;
    border-radius: 30px;
    border: 3px solid var(--color-shadow, black);
  }

.delete-btn {
    cursor: pointer;
    background-color: #e74c3c;
    border: 0;
    color: #fff;
    font-size: 20px;
    line-height: 20px;
    padding: 2px 5px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-100%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  .list li:hover .delete-btn {
    opacity: 1;
  }

  .form-control{
    flex-shrink: 0;
width: 100%;
max-width: 100%;
margin-top: 5px;
margin-bottom: 10px;
  }

  input{
    width: 100%;
    background: rgb(254, 0, 127);
    padding: 2px 5px;
    margin-top: 5px;
    margin-bottom: 10px;
    border-radius: 30px;
    border: 3px solid var(--color-shadow, black);
    box-shadow: .5rem .5rem 0 var(--color-shadow, black);
    
  }


  .btn {
    background-color: rgb(255, 0, 128);
    border-radius: 100px;
    color: rgb(0, 0, 0);
    cursor: crosshair;
    display: inline-block;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    touch-action: manipulation;
    box-shadow: .5rem .5rem 0 var(--color-shadow, black);
    border: 3px solid var(--color-shadow, black);
  }
  
  .btn:hover {
    transform: scale(1.1) rotate(-5deg);
    
  }